@import "../../general.scss";

.about {
  text-align: center;

  .title {
    h1 {
      font-size: 50px;
      img {
        height: 45px;
        width: 45px;
      }

      @include mobile {
        font-size: 20px;
        img {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
  .aboutContainer {
    display: flex;
    margin: 30px;
    @include mobile {
      display: block;
      margin-bottom: 30px;
    }
    .description {
      height: 100%;
      flex: 0.5;
      position: relative;
      margin: 30px 100px 0 100px;

      align-items: center;
      text-align: justify;

      @include mobile {
        margin: 30px 30px 0 30px;
      }

      p {
        font-size: 24px;
        font-weight: 500;
        color: $primaryColor;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    .gift {
      flex: 0.5;
      width: 100%;
      position: relative;
      height: 100%;

      img {
        height: 500px;
        width: 100%;
      }

      @include mobile {
        img {
          display: none;
        }
      }
    }
  }
}
