@import "../../general.scss";

.sidemenu {
  width: 400px;
  height: 100vh;
  background-color: $primaryColor;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;

    li {
      margin-bottom: 25px;
      width: 100%;
      transition: all 0.3s ease;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;

        img {
          width: 30px;
          height: 30px;
        }
      }

      &:hover {
        font-weight: 500;
        color: lightcoral;
      }
    }
  }

  .lenguage {
    display: flex;
    position: relative;
    align-items: center;

    img {
      width: 25px;
      height: 25px;
    }
  }
}
